* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    height: 700px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

.cell {
    /* border: 1px solid black; */
    flex-grow: 1;
}

.hovered {
    background-color: grey;
}

.clear-btn {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    align-self: center;
    color: white;
    background-color: rgb(94, 107, 160);
    border: none;
    border-radius: 0.5rem;
}